<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Rasel_CustomModule::region_grid" title="Customer Region" module="Rasel_CustomModule" sortOrder="60" parent="Magento_Customer::customer" action="region/index" resource="Rasel_CustomModule::region"/>
    </menu>
</config>